body {
    font: 12px Arial;
    margin-top: 0px;
    padding: 10px;
}

.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.area {
    fill: #F0F8FF;
    stroke-width: 0;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.box {
    /*border:2px solid #0094ff;*/
    padding: 4px;
}
.box h2 {
    background:#0094ff;
    color:white;
    padding:10px;
}
.box p {
    color:#333;
    padding:10px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:before {
    box-sizing: border-box;
    display: block;
    width: 0;
    height: 0;
    font-size: 10px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25C0";
    position: absolute;
    top: 30%;
    left: -10px;
}

/* Style northward tooltips differently */
div.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

#xaxis .domain {
    fill:none;
    stroke:#000;
}
#xaxis text, #yaxis text {
    font-size: 12px;
}
.svg {
    height: 1100px;
    width: 1100px;
    margin-top: 150px;
}
.div.viz {
    height: 1000px;
    width: 1000px;
    margin-top: 150px;
}

path {
    stroke-width: 2;
    fill: none;
}