<!DOCTYPE html>
<html>

<head>
    <title>Timeline Chart</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    
    <!-- external javascript libraries -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="static/node_modules/d3-layout-timeline/d3.layout.timeline.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3-time.v1.min.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>

    <!-- get data from server to pass to teamTimeline.js -->
    <script> 
        var data = {{data | tojson | safe}};
        var datapoints = {{ data.chart_data | safe }};
    </script>
</head>

<body>
    <div class="box">
        <!-- h1 contains year and team -->
        <h2><span id='h1'> </span> Roster </h2>
    </div>
    <script src="static/js/teamTimeline.js"></script>
</body>

</html>