<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    <title> TITLE! </title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="https://d3js.org/d3-time.v1.min.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
</head>
<body>
    <div id='graphDiv'></div>
    <div id="filter">
        <b>Cities:</b>
    </div>
    <script>
        var datapoints = {{ data.chart_data | safe }}
    </script>
    <script src="static/js/displayPoints.js"></script>
    <a href="/">Other page</a> 
</body>
</html>
